*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    background-color: #f89f05;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(3, 34, 85);

}

.enlace {
    position: absolute;
    padding: 0px 40px;
    line-height: 70px; /*para que quede centrado*/
}
h2{
    font-size: 40px;
    color: rgb(3, 34, 85);
    
}
nav ul{
    float: right;
    margin-right: 30px;
    letter-spacing: .8px;
}
nav ul li{
    display: inline-block;
    line-height: 70px; /*para que quede centrado*/
    margin: 0 3px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 6px; /*7 arriba y abajo y 6 der e izq*/
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: #009090;
    transition: .5s;
}
.checkbtn{
    font-size: 40px;
    color: rgb(3, 34, 85);
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

section{
    background: url(img/005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 70px);
}



@media (max-width: 850px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 40%;
        height: 95vh;
        background: rgba(43, 61, 79, 0.9);
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all .7s;
        margin-right: 0px;
    }
    nav ul li{
        display: grid;
        margin: 0px 0;
        line-height: 60px; /*espacio entre elementos*/
        border-bottom: 2px solid #fff;
        letter-spacing: 1.5px;
        min-height: 18%;
        align-self: center;

    }
    nav ul li a{
        cursor: pointer;
        font-size: 20px;
        min-height: 100%;
        display: grid;
        align-content: center;
    }
    ul li:hover{
        background: rgba(0, 120, 139, 0.8);
        border-left: 3px ridge white;
    }
    li a:hover, li a:active{
        background: none;
        color: rgb(255, 149, 0); 
    }
    #check:checked ~ ul{
        right: 0;
    }
}
    @media (max-width: 600px){
        .checkbtn{
            display: block;
        }
        nav ul{
            position: fixed;
            width: 100%;
        }
        nav ul li{
            letter-spacing: 3px;

        }
}